body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  height: 100%;
}
 
 .app {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100vh;
  margin: 0;
  background-color: #ffffff; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a4aabf;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  max-height: 100px;
  padding-left: 10px;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px; 
  margin-top: calc(45px + 10px);
}

.main-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - (40px + 10px));
}

.messages-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message-row {
  display: flex;
  padding: 20px;
}

.message-row.user {
  justify-content: flex-end;
}

.message-row.assistant {
  justify-content: flex-start;
}

.message-content {
  display: flex;
  gap: 12px;
}

.user .message-content {
  flex-direction: row-reverse;
}

.assistant .message-content {
  flex-direction: row;
}

.avatar {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e1e1e1;
}



.message-bubble {
  padding: 12px 16px;
  border-radius: 15px;
  line-height: 1.5;
  position: relative;
  max-width: 100%;
}

.user .message-bubble {
  background-color: #565869;
  color: white;
  border-radius: 15px 15px 0 15px;
  margin-right: 8px;
}

.assistant .message-bubble {
  background-color: #f0f0f0;
  color: #000;
  border-radius: 15px 15px 15px 0;
  margin-left: 8px;
}

.input-container {
  padding: 20px;
  border-top: 1px solid #e5e5e5;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  gap: 10px;
  background-color: #ffffff;
}

 .message-input {
  flex-grow: 1;
  padding: 12px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 16px;
}

.send-button {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #f5f5f5;
}

#BannerLetter {
  font-family: "Noonnu";
  margin-top: 35px;
  padding-left: 40px;
  padding-right: 30px;
  font-size: 43px;
}

@font-face {
  font-family: "Noonnu";
  src: url("./fonts/NoonnuBasicGothicRegular.ttf");
}
